In [1]:
import datetime

In [7]:
mytime = datetime.time(13,20,1,20)

In [8]:
mytime.hour

13

In [9]:
mytime.minute

20

In [10]:
print(mytime)

13:20:01.000020

In [11]:
today = datetime.date.today()

In [13]:
print(today)

2020-06-30

In [14]:
today.ctime()

'Tue Jun 30 00:00:00 2020'

In [15]:
from datetime import datetime

In [17]:
mydatetime = datetime(2021,10,3,14,22,1)

In [18]:
print(mydatetime)

2021-10-03 14:22:01

In [21]:
mydatetime = mydatetime.replace(year=2020)

In [22]:
print(mydatetime)

2020-10-03 14:22:01

In [23]:
#Date arithmetic

In [24]:
from datetime import date

In [27]:
date1 = date(2021,11,3)
date2 = date(2020,8,26)

In [29]:
result = date1-date2

In [30]:
result.days

434

In [33]:
datetime1 = datetime(2021,11,3,22,0)

In [34]:
datetime2 = datetime(2020,11,3,12,0)

In [36]:
mydiff = datetime1 - datetime2

In [37]:
mydiff.seconds

36000

In [38]:
mydiff.total_seconds()

31572000.0